In [1]:
import pandas as pd

In [2]:
#series de pandas
numeros = [3,4,5,6,7]
serie  = pd.Series(numeros)
serie, type (serie)

(0    3
 1    4
 2    5
 3    6
 4    7
 dtype: int64,
 pandas.core.series.Series)

In [3]:
data = {
    "nombre" : ["ana ","juan","pedro","daniel"],
    "edad" : ["23","45","67","12"],
    "ciudad" : ["cienega","pealyo","certe","monteria"]

}
data, type (data)

({'nombre': ['ana ', 'juan', 'pedro', 'daniel'],
  'edad': ['23', '45', '67', '12'],
  'ciudad': ['cienega', 'pealyo', 'certe', 'monteria']},
 dict)

In [4]:
#generar un dataframe a partir de un diccionario 

import pandas as pd

# Generar un DataFrame a partir de un diccionario
df = pd.DataFrame(data=data)
df

   nombre edad    ciudad
0    ana    23   cienega
1    juan   45    pealyo
2   pedro   67     certe
3  daniel   12  monteria

In [5]:
#exportar un datframe 

df.to_csv("data,cvs")

In [8]:
# Exportar un DataFrame correctamente
df.to_csv("data.csv", index=False)

# Importar el DataFrame correctamente
import_df = pd.read_csv("data.csv")
print(import_df)

   nombre  edad    ciudad
0    ana     23   cienega
1    juan    45    pealyo
2   pedro    67     certe
3  daniel    12  monteria

In [6]:
# seleccionar un a columna 
nombres = df ["nombre"]
print (nombres , type (nombres))

0      ana
1      juan
2     pedro
3    daniel
Name: nombre, dtype: object <class 'pandas.core.series.Series'>

In [7]:
#seleccionar varias cplumnas 
df[["nombre", "edad"]]

   nombre edad
0    ana    23
1    juan   45
2   pedro   67
3  daniel   12

In [8]:
#filtrar por indice 
fila = df.loc[2]
fila

nombre    pedro
edad         67
ciudad    certe
Name: 2, dtype: object